html {
    top: 0;
    left: 0;
}


#rail {
    width: 4000px; /* Change to n*image.width() for full container */
    border: 2px solid yellow;
}
#slideshow {
    width: 600px; /* Change to 100% for full container */
    height: auto; /* Change to 100% for full container */
    overflow: hidden;
    border:2px solid red;
}

div#legend {
    background-color: dimgrey;
    opacity: 0.4;
    width: 300px;
    height: auto;
    text-align: center;
    margin-left: 25%;
    margin-top: 25%;
}

h1 {
    background-color: rosybrown;
    padding: 7px;
}

h3 {
    background-color: rosybrown;
    padding: 5px;
    opacity: 0.8;
}

#container {
    width: 99vw;
    height: 100vh;
    margin-left: 10px;
    left: 0px;
    bottom: 0px;
    border: 2px solid green;
}

div .image {
    background: no-repeat center;
    background-size: cover;
    height: 300px; /* Change to 100% for full container */
    width: 600px; /* Change to 100% for full container */
    float: left;
    /*
        Faire des divs plutôt qu'injecter des <img> pour img responsive? --> OUI
    */
}

/* Revoir les positions ci-dessous */
#previous {
    position: fixed;
    top: 40vh;
    left: 0;
}

#next {
    position: absolute;
    top: 40vh;
    right: 0;
}

#play {
    top: 90vh;
    left: 48vw;
    position: fixed;
}

i.components {
    font-size: 4em;
}

i.components:hover {
    cursor: pointer;
}

