#rail {
    width: 3200px;
    /*border: 2px solid yellow;*/
}

#slideshow {
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}

#container {
    width: 65vw;
    height: 95vh;
    margin-left: 17.5vw;
    margin-right: 17.5vw;
}

#rail img {
    width: 65vw;
    /* -webkit-background-size: cover; /* pour anciens Chrome et Safari /
    background-size: cover; /* version standardisée

    Faire des divs plutôt qu'injecter des <img> pour img responsive? --> OUI

    */
}

/* Ci-dessous test pour passer des DIV plutot que des IMG (reponsive) --> Non concluant */
div #un {
    margin:0;
    padding:0;
    background: url(https://static.pexels.com/photos/292600/pexels-photo-292600.jpeg) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

/* Revoir les positions ci-dessous */
#previous {
    position: fixed;
    top: 40vh;
    left: 0;
}

#next {
    position: absolute;
    top: 40vh;
    right: 0;
}

#play {
    top: 90vh;
    left: 48vw;
    position: fixed;
}

i.components {
    font-size: 4em;
}

i.components:hover {
    cursor: pointer;
}

