html {
    top: 0;
    left: 0;

}

body {
    background-color: black;
    position: relative;

}

#rail {
    width: 7000px; /* Change to n*image.width() for full container */
    border: 2px; /*solid yellow; */


}
#slideshow {
    width: 100%; /* Change to 100% for full container */
    height: 100%; /* Change to 100% for full container */
    overflow: hidden;
    position: absolute;
    /* border:2px solid red; */

}

div#legend1,#legend2,#legend3,#legend4 {
    background-color: dimgrey;
    opacity: 0.6;
    width: 33.33%;
    height: auto;
    text-align: center;
    margin-left: 66%;
    margin-top: 85vh;
}


h1 {
    background-color: #fcf8e3;
    padding: 7px;
}

h3 {
    background-color: #fcf8e3;
    padding: 5px;
    opacity: 0.8;
}

#container {
    width: 100vw;
    height: 100vh;
    left: 0px;
    bottom: 0px;
    /* border: 2px solid green; */
}

div .image {
    background: no-repeat center;
    background-size: cover;
    height: 100vh; /* Change to 100% for full container */
    width: 100vw; /* Change to 100% for full container */
    float: left;
    display: inline-block;
}

/* Revoir les positions ci-dessous */
/*#anim{

    position: fixed;
    top: 40vh;
    left: 20;
}*/


#previous {
    position: fixed;
    top: 40vh;
    left: 0;
}

#next {
    position: absolute;
    top: 40vh;
    right: 0;
}

#play {
    top: 80vh;
    left: 48vw;
    position: fixed;
}

#pastilleun{
    bottom: 5vh;
    left: 41vw;
    position: fixed;

}
#pastilledeux{
    bottom: 5vh;
    left: 46vw;
    position: fixed;
}
#pastilletrois{
    bottom: 5vh;
    left: 51vw;
    position: fixed;
}
#pastillequatre{
    bottom: 5vh;
    left: 56vw;
    position: fixed;
}

a.pastilles {
    font-size: 2em;
    color: whitesmoke;
}
a.pastilles:hover {
    cursor: pointer;
    text-decoration: none;
}

i.components {
    font-size: 4em;
    color: whitesmoke;
}

a {
    text-decoration: none;
}

i.components:hover {
    cursor: pointer;
}

a.active {
    color: rgb(35,82,124);
}


@media screen and (min-width: 800px) and (max-width: 1200px) {


    div#legend1,#legend2,#legend3,#legend4 {
        background-color: dimgrey;
        opacity: 0.6;
        width: 40%;
        height: auto;
        text-align: center;
        margin-left: 60%;
        margin-top: 84vh;
    }
    h1 {
        background-color: #fcf8e3;
        padding: 1px;
    }
    h3 {
        background-color: #fcf8e3;
        padding: 1px;
        opacity: 0.8;
    }
}
@media screen and (min-width: 200px) and (max-width: 800px) {


    div#legend1,#legend2,#legend3,#legend4 {
        background-color: dimgrey;
        opacity: 0.6;
        width: 52%;
        height: auto;
        text-align: center;
        margin-left: 48%;
        margin-top: 78vh;
    }

    h1 {
        font-size: 1em;
        background-color: #fcf8e3;
        padding: 2px;
    }
    h3 {
        font-size: 1em;
        background-color: #fcf8e3;
        padding: 1px;
        opacity: 0.8;
    }

}


